.ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.ol li {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

.syntax-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .syntax-light {
    display: none;
  }

  .syntax-dark {
    display: block;
  }
}

html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}
